<html>

  <head>
    <title>{{title}} | {{exhibitionDisplayName}}</title>
    <meta
      name="description"
      content="View the work of {{title}} in the online mathematical fashion gallery of the {{exhibitionDisplayName}}."
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <nav class="breadcrumb">
        <a href="/">Home</a>
        &raquo;
        <a href="/exhibitions">Exhibitions</a>
        &raquo;
        <a href="/exhibitions/{{exhibition}}">{{exhibitionDisplayName}}</a>
      </nav>
    </header>
    <article>
      <h1>{{title}}</h1>
      <section class="artist-meta">
        <div class="designer">{{designer}}</div>
        <div class="brand">{{brand}}</div>
        <div class="location">{{location}}</div>
        {{#each emails}}
          <div class="email"><a href="mailto:{{this}}">{{this}}</a></div>
        {{/each}}
        {{#each websites}}
          <div class="website"><a href="{{this}}">{{this}}</a></div>
        {{/each}}
      </section>
      <section class="statement">
        {{{statement}}}
      </section>
      <section class="artwork-items">
        {{#each fashionItems}}
          <div class="artwork-content">
            <div class="artwork-image-meta">
              <div class="image">
                <img src="{{image}}" alt="{{title}}" />
              </div>
              <div class="artwork-meta">
                <div class="credits">{{credits}}</div>
                <div class="title">{{title}}</div>
                <div class="medium">{{medium}}</div>
                <div class="year">{{year}}</div>
              </div>
            </div>
            <div class="description">
              {{{description}}}
            </div>
          </div>
        {{/each}}
        {{#each fashionImages}}
          <div class="artwork-content">
            <div class="artwork-image-meta">
              <div class="image">
                <img src="{{image}}" alt="{{title}}" />
              </div>
              <div class="artwork-meta">
                <div class="credits">{{credits}}</div>
              </div>
            </div>
            <div class="description">
              {{{caption}}}
            </div>
          </div>
        {{/each}}
      </section>
    </article>
    <footer>
      <p>
        Copyright &copy;2010-2023
        <a href="http://bridgesmathart.org">The Bridges Organization</a>.<br />
        Site Design &amp; Development by
        <a href="http://www.nathanselikoff.com">Nathan Selikoff</a>.
      </p>
    </footer>

    <script>
      MathJax = { tex: { inlineMath: [ ['$','$'], ['\\(','\\)'] ] }, };
    </script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
  </body>

</html>